.weather-today__per-hour-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8%;
  padding: 15px 8px;
  border-bottom: 1px solid #eee;
}

.weather-today__per-hour-icon {
  margin: 5px 0;
  width: 100%;
  border-radius: 7%;
}